@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  background-color: rgb(247, 251, 255);
}

.App {
  max-width: 680px;
  margin: 0 auto;
}

.App h1 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 40px auto;
  color: #031c4e;
  font-family: "Montserrat", sans-serif;
}
.App main {
  margin: 30px auto;
}

.App-footer {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
}

.App .react-image {
  max-width: 25px;
}

.App .rotating {
  animation: rotation 10s linear infinite;
}

.App .react {
  font-weight: 700;
  color: #00d8fe;
}
