.Dictionary {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.Search {
  display: flex;
}

.Dictionary form {
  margin: 0px auto 20px;
}

.Search .search-bar {
  margin-right: 10px;
  font-weight: 100;
}

.Search .submit-button {
  font-weight: 100;
}

.Search .submit-button:hover {
  cursor: pointer;
}

.Dictionary section {
  background-color: #ffffff;
  padding: 25px 30px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgb(0, 0, 0, 5%);
}
